
.container{
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.heading-grp{
   
    width:690px;
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 10px;
}
.heading-grp .main-heading {
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    font-weight: 700;
}

.color-heading {
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    font-weight: 700;

    background:-webkit-linear-gradient( 80deg, #32D875  , #d4f938
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: #d3f744 1px 1px 8px ;
}

.para{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #E7E7EA;
    margin-top: 30px;
}
.image-grp{
    padding: 20px;
}

.image{
    width: 690px;
    padding: 2rem 0;
}
/* image rspomsive */
@media screen and (max-width: 960px) {
    .image{
        width: 600px;
    }

    .main-heading{
        font-size: 70px;
        line-height: 80px;
    }
    .color-heading{
        font-size: 70px;
        line-height: 80px;
    }
  } 

  .table-box{
    display: flex;
    padding: 10px 30px;
    border: 1.5px solid rgba(235, 255, 37, 0.2);
    justify-content: space-between;
    width: 750px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 20px rgba(226, 255, 111, 0.25);
  }

  .item{
padding: 10px;
align-items: center;
margin: auto;
  }

  .amount{
    font-size: 40px;
    line-height: 48px;
    color: rgba(235, 255, 37, 1);
    font-weight: 700;
  }

  .amount-para{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: rgba(169, 169, 169, 1);
    
  }

  .line{
    height: 150px;
    padding: 0 10px;
  }